# Classification with an Academic Success Dataset

## Exploratory Data Analysis

In [2]:
import pandas as pd

df = pd.read_csv("data/train.csv")
print(df.head())

   id  Marital status  Application mode  Application order  Course  \
0   0               1                 1                  1    9238
1   1               1                17                  1    9238
2   2               1                17                  2    9254
3   3               1                 1                  3    9500
4   4               1                 1                  2    9500

   Daytime/evening attendance  Previous qualification  \
0                           1                       1
1                           1                       1
2                           1                       1
3                           1                       1
4                           1                       1

   Previous qualification (grade)  Nacionality  Mother's qualification  ...  \
0                           126.0            1                       1  ...
1                           125.0            1                      19  ...
2                           137.0            1                       3  ...
3                           131.0            1                      19  ...
4                           132.0            1                      19  ...

   Curricular units 2nd sem (credited)  Curricular units 2nd sem (enrolled)  \
0                                    0                                    6
1                                    0                                    6
2                                    0                                    6
3                                    0                                    8
4                                    0                                    7

   Curricular units 2nd sem (evaluations)  \
0                                       7
1                                       9
2                                       0
3                                      11
4                                      12

   Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                    6                         12.428571
1                                    0                          0.000000
2                                    0                          0.000000
3                                    7                         12.820000
4                                    6                         12.933333

   Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                               0               11.1
1                                               0               11.1
2                                               0               16.2
3                                               0               11.1
4                                               0                7.6

   Inflation rate   GDP    Target
0             0.6  2.02  Graduate
1             0.6  2.02   Dropout
2             0.3 -0.92   Dropout
3             0.6  2.02  Enrolled
4             2.6  0.32  Graduate

[5 rows x 38 columns]